html, body{
    width:100%;
    height:100%;
}
.searchbarcontainer{
    padding: 15% 0px;
    /*border:1px solid black;*/
    margin: 10% 0px;
    text-align:center;
    width: 100%;
    height: 100%;
    font-size:50px;
    font-family:Microsoft JhengHei;
}
td.searchbarcontainer{
    height:100%;
}
.table.table-hover{
    padding:10px 10px;
    font-size:18px;
}

td.showshop, tr.showshop{
    border-left:none;
    border-right:none;
    height:50px;
    
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 30px;
}

/*.gameLotto{
     border-style: solid;
     border-width: 2px;
     width: 100px;
     float: left;
     margin-left: 300px;
 }
.gameLucky{
    border-style: solid;
    border-width: 2px;
    width: 100px;
    float: right;
    margin-right: 300px;
}
.title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
}


.gamerules
{
    clear:left;
}*/

#showshop{
    margin:auto;
    text-align:center;
    width: 100%;
    font-family:Microsoft JhengHei;
}
#showshop th, td, tr{
    text-align:center;
}
#commentcontainer{
    width:100%;
    text-align:center;
}
#commentcontainer th,td,tr{
   /* border:1px solid black;*/
    text-align:left;
    height:30px;
}

#commentcontainer textarea{
    resize:none;
    width:100%;
    height:100%;
}
#commentcontainer textarea:focus{
    outline:0;
}
#importshopselector{
   width:100%;
   text-align:center;
}
#importshopselector th{
    height:50px;
    font-size:15px;
    text-align: center;
    border:none;
}
.button{
    background-color: transparent;
    border: none;
    padding:0px;
}
.button:focus{
    outline:0;
}
.redbutton{
    background-color: transparent;
    border: none;
    padding: 0px ;
}
.redbutton:focus{
    outline:0;
}
.glyphicon.glyphicon-heart{
    font-size:40px;
   /* color: black;*/
}


#importshopselector td, tr{
    border:none;
   text-align: center;
    height:50px;
}



#importshopselector input[type="text"] {
    padding: 0px 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 80%;
  text-align:left;
}
#importshopselector input[type="text"]:focus,
#importshopselector input[type="text"].focus {
  border-bottom: solid 2px #969696;
  outline:0;
}
#importshopselector input[type="number"] {
   padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width:18%;
}
#importshopselector input[type="number"]:focus{
    outline:0;
    border-bottom:solid 2px #969696;
}


.addrowbutton{
	box-shadow:inset 0px 2px 5px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:black;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.addrowbutton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.addrowbutton:active {
	position:relative;
	top:1px;
}



#shopinfor{
    width:100%;
    text-align:center;
}
#shopinfor th,td,tr{
   /* border:1px solid black;*/
    text-align:center;
}

